<!DOCTYPE html>
<html>
<head>
	<title>Back Cover</title>
	<meta name="viewport" content="initial-scale=1.0;"/>
	<link rel="stylesheet" type="text/css" href="../css/book.css">

</head>
<body>
	<div class="back-cover">

		<img src="../gfx/logo.png" class="logo">

		<h1>Black &amp; White</h1>

		<ul class="details">
			<li>Black and White is a St. Paul's School Magazine</li>
			<li>It was edited by Bob Howat.</li>
			<li>Digital publishing and iOS app development was done by <a target="_blank" href="http://alexforey.com">Alex Forey</a>.</li>
			<li>Black and White is overseen by Guy Larlham and Suzanne Mackenzie.<li>
	</div>
</body>
</html>
